.CardsContainer {
    position: relative;
    /*height: 80vh;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.Filter {
    position: absolute;
}

.Card {
    display: none;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*position: absolute;*/
    /*height: 50%;*/
}

.Card:nth-child(1) {
    display: block;
    /*transform: translateX(-70%);*/
    z-index: -1;
}

.Card:nth-child(2) {
    display: block;
    /*transform: translateX(-50%);*/
    z-index: 2;
}

.Card:nth-child(3) {
    display: block;
    /*transform: translateX(-30%);*/
    z-index: -1;
}

.CardsContainer>.CardActive:last-child {
    position: static;
    transform: translateX(0);
}
